.u-section-1 .u-sheet-1 {
  min-height: 1089px;
}

.u-section-1 .u-shape-1 {
  width: 639px;
  height: 586px;
  margin: 60px -53px 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin: -649px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 681px;
}

.u-section-1 .u-container-layout-1 {
  padding: 70px 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 5.625rem;
  line-height: 1;
  font-weight: 400;
  margin: 0 -143px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 39px -16px 0 16px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 61px auto 0;
  padding: 13px 55px 13px 54px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 190px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 681px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 538px;
  width: 538px;
  background-image: url("images/Akashdip-Mahapatra.jpeg");
  background-position: 50% 50%;
  margin: 30px auto 0 0;
}

.u-section-1 .u-gallery-1 {
  height: 276px;
  margin: 44px auto -3px 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 922px;
  }

  .u-section-1 .u-shape-1 {
    width: 509px;
    height: 467px;
    margin-top: 123px;
    margin-right: -39px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -530px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 562px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5rem;
    width: auto;
    margin-right: -164px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 90px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 19px;
    height: 454px;
    width: 454px;
  }

  .u-section-1 .u-gallery-1 {
    height: 228px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1377px;
  }

  .u-section-1 .u-shape-1 {
    width: 383px;
    height: 373px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -435px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: -121px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 545px;
  }

  .u-section-1 .u-image-1 {
    height: 318px;
    width: 318px;
    margin-top: 73px;
    margin-right: 7px;
    margin-left: auto;
  }

  .u-section-1 .u-gallery-1 {
    margin-bottom: 60px;
    height: 699px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3512px;
  }

  .u-section-1 .u-shape-1 {
    width: 593px;
    height: 543px;
    margin-top: 763px;
    margin-left: -26px;
    margin-right: -26px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1245px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 621px;
  }

  .u-section-1 .u-image-1 {
    height: 511px;
    width: 511px;
    margin-top: 33px;
    margin-right: 29px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 60px;
    height: 2097px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2531px;
  }

  .u-section-1 .u-shape-1 {
    width: 386px;
    height: 365px;
    margin-top: 615px;
    margin-left: -23px;
    margin-right: -23px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -919px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-1 .u-image-1 {
    height: 330px;
    width: 330px;
    margin-right: 7px;
    margin-left: auto;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 19px;
    height: 1320px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/nmm-min.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 750px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 636px;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px 19px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 11px;
}

.u-section-2 .u-text-2 {
  font-size: 3.4375rem;
  font-weight: 700;
  margin: 20px 11px 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  text-align: center;
  font-weight: 700;
  border-style: solid;
  margin: 34px auto 0 11px;
  padding: 20px 47px 20px 46px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 629px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-list-1 {
  width: 565px;
  margin: 0 auto 0 54px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 558px;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 177px;
  margin-top: 11px;
  margin-bottom: 0;
  width: 177px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 11px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 177px;
  margin-top: 11px;
  margin-bottom: 0;
  width: 177px;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 11px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 177px;
  margin-top: 11px;
  margin-bottom: 0;
  width: 177px;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 11px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 177px;
  margin-top: 11px;
  margin-bottom: 0;
  width: 177px;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 11px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 519px;
  }

  .u-section-2 .u-list-1 {
    width: 504px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 498px;
  }

  .u-section-2 .u-image-1 {
    height: 154px;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 154px;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: 154px;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    height: 154px;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 502px;
    grid-gap: 0px 0px;
  }

  .u-section-2 .u-image-1 {
    height: 419px;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 419px;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: 419px;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    height: 419px;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 189px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 330px;
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 330px;
    width: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 330px;
    width: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 330px;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    height: 203px;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 203px;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: 203px;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    height: 203px;
    width: auto;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1177px;
}

.u-section-3 .u-shape-1 {
  height: 552px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-group-1 {
  width: 838px;
  min-height: 205px;
  margin: -504px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 3.4375rem;
  margin: 42px 0 0;
}

.u-section-3 .u-gallery-1 {
  height: 745px;
  width: 1140px;
  grid-gap: 17px;
  margin: 45px auto 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  font-weight: 700;
  margin: 42px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1046px;
  }

  .u-section-3 .u-shape-1 {
    height: 519px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -471px;
  }

  .u-section-3 .u-gallery-1 {
    height: 614px;
    width: 940px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1490px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    min-height: 186px;
    margin-top: -452px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.25rem;
    margin-top: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 1058px;
    width: 720px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 3606px;
  }

  .u-section-3 .u-shape-1 {
    height: 1132px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-top: -1065px;
  }

  .u-section-3 .u-gallery-1 {
    height: 3174px;
    width: 540px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 2430px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-gallery-1 {
    height: 1998px;
    width: 340px;
  }
} .u-section-4 {
  background-image: url("images/MecanicalEngineering.jpg");
  background-position: 50% 0%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1039px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 857px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 656px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 492px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 310px;
  }
}